body{
    font-family: $font-body;
    h1,h2,h3,h4{
        font-family: $font-title;
    }
}
.site-header{
    background: linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
    padding: 2em ;
    margin: 0;
    max-width: 100%;
    border: none;
    @include mq('phablet', 'max') {
        display: grid;
        grid-row-gap: 33px;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .main-navigation{
        a{
            transition: color $transition;
            color: #fff;
            &:hover{
                color: $ascent;
            }
        }
    }
}

#content.site-content{
    margin: 0;
    max-width: 100%;
    grid-template-columns: 1fr;
    .entry-header{
        margin-top: 33px;
        h1{
            text-align: center;
        }
    }
}

#Home, .single-nica_product{
    width: 100%;
    
    #header, .entry-header{
        display: grid;
        margin: 0 auto;
        padding: 1.5em;
        width: 100%;
        //background: linear-gradient(0deg, #667EEA 0%, #764BA2 0%);
        h1{
            background: linear-gradient(90deg, #667EEA 0%, #764BA2 100%);
            padding: .3em;
            font-size: 3em;
            color: #fff !important;
            justify-self: center;
            align-self: center;
            box-shadow: 0px 2px 4px rgba(42, 42, 42, 0.25);
            a{
                color: #fff !important;
            }
        }
    }
    #product_grid{
        padding: 5vh 10vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 33px;
        @include mq('phablet', 'max') {
            grid-template-columns: 1fr;
            grid-row-gap: 33px;
        }
        .product{
            background: #fcfcfc;
            box-shadow: 0px 2px 4px rgba(42, 42, 42, 0.25);
            padding: .9em 1.3em;
            display: grid;
            grid-template-areas: "title exp" "excerpt excerpt" "brand brand";
            .title{
                grid-area: title;
                h2{
                    margin: 0;
                    color: $ascent;
                }
            }
            .exp{
                grid-area: exp;
                justify-self: end;
                align-self: start;
                i{
                    color: tomato;
                }
            }
            .excerpt{
                grid-area: excerpt;
                align-self: center;
                justify-self: center;
            }
            .brand{
                grid-area: brand;
                justify-self: end;
                background: #fff;
                color: tomato;
                padding: .3em;
            }
        }
    }
}