.single-nica_product{
    .entry-header{
        h1{
            position: relative;
            padding-top: .6em;
            padding-bottom: .6em;
            margin-bottom: 15px;
            span{
                background: #fff;
                color: tomato;
                padding: .2em;
                font-size: .4em;
                position: absolute;
                top:0;
                right: 0;
            }
        }
        .details{
            margin:0 auto;
            padding: .3em;
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 9px;
            i{
                margin-right: 6px;
            }
        }
    }
    .entry-content{
        max-width: 70vw;
        margin: 0 auto;
    }
}