/*!
Theme Name: nicasource
Theme URI: https://github.com/taniarascia/untheme
Author: Tania Rascia
Author URI: https://www.taniarascia.com
Description: Base theme for development
Version: 1.0.0
License: GNU General Public License v2 or later
Text Domain: nicasource
*/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	position: absolute !important;
	word-wrap: normal !important;
}